name: Deploy Backend to EC2

on:
  push:
    branches: [main]
    paths:
      - "/Backend"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/MERN-AWS/Backend
            git fetch origin
            git reset --hard origin/main
            npm install
            pm2 restart all
            sudo pm2 reload index || sudo pm2 start index.js --name index
            sudo pm2 save
